#shellcheck disable=SC2148,SC2155
export KUBECONFIG=$(expand_path ./kubeconfig)

export GPG_TTY=$(tty)
export PERSONAL_KEY_NAME="Phil Merricks Canada seffyroff@gmail.com"
export PERSONAL_KEY_FP=99DA48B3EBBC6060DDEB5D9E66E0D89FBC799E0B

export GPG_TTY=$(tty)
export FLUX_KEY_NAME="h3udotorg (Flux) seffyroff@gmail.com"
export FLUX_KEY_FP=967B58590229B9D7B20AF5DA5DFA8AE4EDE33854

export BOOTSTRAP_CLOUDFLARE_EMAIL="phil@h3u.org"
export BOOTSTRAP_CLOUDFLARE_TOKEN="NMNkmUbKyAFgokCxWk_pHnSh2eCU37bl-HHQzxcD"

export BOOTSTRAP_GITHUB_REPOSITORY="https://github.com/seffyroff/automatic-octo-lamp.git"
export BOOTSTRAP_DOMAIN="h3u.lan"
export BOOTSTRAP_METALLB_LB_RANGE="10.0.11.230-10.0.11.250"
export BOOTSTRAP_INGRESS_NGINX_LB="10.0.11.230"
export GITHUB_TOKEN="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"
export GITHUB_USER="seffyroff"